<div class = "container">

    <form class="row mt-3 gx-3 gy-2 align-items-center justify content-center">
        <div class = "col-sm-6">
            <label class = "visually-hidden" for = "specificSizeInputName">
                wish
            </label>

            <input type = "text" 
            name = "new-wish-text" 
            class = "form-control" 
            [(ngModel)] = "newWishText">
            <!-- binding data to the input element -->
        </div>
        <div class = "col-auto">
            <button 
            type = "submit" 
            class = "btn btn-primary"
            (click) = "$event.preventDefault(); addnewWish()" 
             >
                Add wish
            </button>
        </div>
    </form>
    <!-- default behavior of clicking button in form is to submit, and we are preventing -->

    <div class="row mt-3">
        <div class="col-sm-2">
            <select class = "form-select"
                [(ngModel)] = "listFilter"
                (ngModelChange)="filterChanged($event)"
                >
                <!-- Event that occurs only when model changes -->
                 <!-- only usable on models that use the ngmodel directive -->
                <option value = "0">All</option>
                <option value = "1">Unfulfilled</option>
                <option value = "2">Fulfilled</option>
            </select>
        </div>
        <div *ngIf="visibleItems.length == 0; else showItems">
            There are no wishes to display
        </div>
     
        <!-- <ng-template #noItems>
            There are no wishes to display
        </ng-template> -->
    
        <ng-template #showItems>
            <ul *ngIf="items.length > 0"  class = "wish-list">
                <li *ngFor = "let item of visibleItems; index as ii">
                    <div class = "form-check">
                        <label class = "checkbox">
                            <input 
                            type = "checkbox" 
                            [checked] = "item.isComplete"
                            [attr.data-index] = "ii"
                            (click)="toggleitem(item)"
                            >
                            {{item.wishText}}
                            <!-- {{item.isComplete}}
                            {{ii}} -->
                        </label>
                    </div>
                </li>
            </ul>
        </ng-template>
    </div>
</div>


<router-outlet />
